@use "variables";

.actions {
  margin: 1rem 0;
}

.buy-section {
  margin-top: 3rem;
}

.buy-button {
  padding: 1rem 4rem;
  background-color: #1dc0da9f;
  border: 0;
  border-radius: 0.3rem;
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
  color: rgb(211, 225, 235);
  cursor: pointer;
  &:disabled {
    background-color: rgba(86, 84, 84, 0.937) !important;
    cursor: default !important;
  }
}
