@use "variables";

.description {
  padding-left: 0.3rem;
}

.description-element {
  opacity: 0.8;
}

.stats {
  text-align: start;
}

.hidden-stats {
  max-height: 6rem;
  overflow: hidden;
}

.price {
  color: variables.$primary-color;
  font-size: 32px;
  font-weight: 500;
}

.expand-description-button {
  text-align: start;
  margin-left: 5px;
  color: variables.$primary-color;
  cursor: pointer;
}
