// .item {
// }

.item-grid {
  background-color: goldenrod;
  width: 300px;
  padding: 3px;
  margin: auto;
}

.item-list {
  display: flex;
  flex-direction: row;
  background-color: darkgrey;
  padding: 3px;
}
