@use "variables";

.item-grid,
.item-list {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 20px;
  box-shadow: rgba(231, 11, 176, 0.575) 0px 0px 14px 0px;
  padding: 1rem;
  display: flex;
  &:hover {
    transition: all 0.2s ease-in;
    box-shadow: rgba(30, 255, 0, 0.582) 0px 0px 14px 2px;
  }
}

// -----------------------

.item-grid {
  flex-direction: column;
  margin-top: 1rem;
  min-height: 25rem;
  width: 15rem;
  text-align: center;

  .image-box-item-grid {
    justify-content: center;

    .image-item-grid {
      border-radius: 12px;
      width: 100%;
      filter: brightness(90%);
    }
  }

  .item-grid-box-description {
    margin: 1rem;
  }
}

// ----------------------

.item-list {
  flex-direction: row;
  margin-top: 1rem;

  .image-item-list {
    border-radius: 12px;
    height: 8rem;
    filter: brightness(90%);
  }

  .item-list-box-description {
    margin-left: 1.5rem;
  }
}

.item-grid-brand,
.item-grid-model {
  margin: 0.5rem 0;
}

.item-grid-price {
  margin: 0.5rem 0;
}

.item-grid-no-stock {
  color: grey;
  font-size: 16px;
  margin: 1.2rem 0;
}
