.list-page {
  width: 100%;
}

.list-elements {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.item {
  background-color: goldenrod;
  width: 100%;
  padding: 3px;
}

@media (max-width: 2000px) {
  .list-elements {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
