.list-page {
  width: 100%;
}

.list-items {
  padding: 10px;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 15px;
  row-gap: 20px;

  @media (min-width: 960px) {
    & {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }

  @media (max-width: 960px) {
    & {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  // @media (min-width: 960px) {
  //   & {
  //     grid-template-columns: repeat(4, 1fr);
  //     grid-template-rows: 1fr;
  //   }
  // }

  // @media (max-width: 960px) {
  //   & {
  //     grid-template-columns: repeat(3, 1fr);
  //     grid-template-rows: 1fr;
  //   }
  // }
}
