@use "styles/variables.scss";
@use "styles/ProductList.scss";
@use "styles/ProductDetails.scss";
@use "styles/Actions.scss";
@use "styles/Description.scss";
@use "styles/Header.scss";
@use "styles/Image.scss";
@use "styles/Item.scss";
@use "styles/Search.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: whitesmoke;
  background: rgb(16, 18, 26);
}

.div-app {
  background: linear-gradient(
      325deg,
      rgba(10, 91, 40, 0.25) 3.7%,
      rgba(255, 255, 255, 0) 40.2%
    ),
    linear-gradient(
      250.93deg,
      rgba(24, 53, 157, 0.244) 3.7%,
      rgba(255, 255, 255, 0) 36.5%
    ),
    none;
  background-attachment: fixed;
  min-height: 100vh;
}

a {
  &.no-style:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
  &.no-style:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
}

.no-hover {
  cursor: default;
}

.no-margins {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 80rem;
}

.selector {
  border-radius: none;
  border: none;
  border-bottom: 1px solid variables.$primary-color;
  margin: 0.5rem;
  padding: 0.25rem;
  background-color: transparent;
  color: variables.$text-color;
  font-family: inherit;
}

.hover-animation:hover {
  box-shadow: #17a6bc70 0px 4px 24px;
}
